
.container1 {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#maCarte {
    border: 3px solid black;
    margin: 10px;
    height: 400px;
    max-width: 100%;
}

.logoban {
    height: 2em;
    width: 2em;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
    color: #74154D;
}
