body {
    height: 100vh;
    margin: 10%;
}

h1 {
    color: #74154D;
    font-size: 1.5em;
}

.nav {
    border: 0.02em solid black;
    margin: 5px;
    padding: 2em;
    display: flex;
    border-radius: 15px;
    background-color: #FFE1B0;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 5px;
}

.fb .cc {
    flex: 0 0 20%;
}

.title {
    flex: 0 0 60%;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

h4,
h5 {
    text-align: center;
    margin: -5px;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: keep-all;
}

a {
    color: black;
}

.c {
    flex: 0 0 32%;
    text-align: center;
}

.containerHome {
    justify-content: center !important;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

span {
    margin-bottom: 30px;
}

h3 {
    font-size: 1em;
}

.covid {
    color: red;
}